body {
	background-color: #f7f7f7;
	padding-top: 70px;
}

.jumbotron {
	border: #d9230f solid 1px;
}

.navbar-default .navbar-brand {
	color: #d9230f;
	font-size: 24px;
}

.navbar-default .navbar-brand:hover {
	color: #d9230f;
	text-shadow: 0 10px 20px #fefcc9, 10px 0 30px #feec85, -20px -10px 40px #ffae34, 20px -30px 50px #ec760c, -20px -50px 60px #cd4606;
}
