/* Firebolt global styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f7f7f7;
  font-size: 16px;
  margin-bottom: 60px;
}

a code {
  color: #428bca;
}

a code:hover,
a code:focus {
  color: #2a6496;
}

.jumbotron {
  border: 1px #d9230f solid;
}

.navbar, #footer {
  font-size: 15px;
}

.navbar-default .navbar-brand {
  color: transparent !important;
  font-size: 30px;
  position: relative;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li:not(.active) > a:hover,
.navbar-default .navbar-nav > li:not(.active) > a:focus {
  text-shadow: 0 10px 20px #fefcc9, 10px 0 30px #feec85, -20px -10px 40px #ffae34, 20px -30px 50px #ec760c, -20px -50px 60px #cd4606;
}

.navbar-default .navbar-brand img {
  color: #d9230f;
  position: absolute;
  top: 14px;
  left: 4px;
}

.page-header {
  margin: 0 0 25px;
}

#footer {
  background-color: #eee;
  color: #d9230f;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer a {
  color: #d9230f;
}

#footer p {
  margin-top: 16px;
}

#footer span a {
  text-decoration: underline;
}

#img-rotate,
#img-scale {
  border: #272822 solid 1px;
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
}

#welcome {
  border-width: 1px 0;
  margin-top: 5px;
  text-align: center;
}

#welcome > img {
  margin-bottom: 35px;
  max-width: 75%;
}
